.fondo{
  background-color: var(--col-IF-Grey-d);
}

.title-color{
  font-size: 4rem;
  font-weight: bold;
  color:var(--col-IF-Blue-m);
}

.button-text{
  color: white;
}

.button-color{
  width: 16rem;
  background-color: var(--col-IF-Blue-m);
}