* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --col-IF-amarillo: rgb(242,230,207);
  --col-IF-Blue-d: rgb(32,100,136);
  --col-IF-Blue-m: rgb(7, 153, 182);
  --col-IF-Blue-l: rgb(122, 218, 222);
  --col-IF-Grey-d: rgb(35,35,35);
  --col-IF-Grey-l: rgb(48,48,48);

  --tipografia-ppal: "Calibri";
  --tipografia-sec: "Arial";
}

